template(name='frontdesk')
    .ui.container
        h1.ui.center.aligned.header 
            i.briefcase.icon
            |Staff
            // i#add_impounded_bike.green.plus.link.icon 
        +requests
        +schedule
        .ui.header Notices
        .ui.centerd.cards
            each bikes
                +bike




template(name='schedule')
    .ui.center.aligned.header 
        i.calendar.icon
        |Schedule
    table.ui.definition.celled.striped.selectable.table
        thead
            tr
                th
                th Sunday
                th Monday
                th Tuesday
                th Wednesday
                th Thursday
                th Friday
                th Saturday
        tbody
            tr
                td Morning 7am-12pm
                td 
                    +facet_staff_select tags='shift,sunday,morning'
                td 
                    +facet_staff_select tags='shift,monday,morning'
                td 
                    +facet_staff_select tags='shift,tuesday,morning'
                td 
                    +facet_staff_select tags='shift,wednesday,morning'
                td 
                    +facet_staff_select tags='shift,thursday,morning'
                td 
                    +facet_staff_select tags='shift,friday,morning'
                td 
                    +facet_staff_select tags='shift,saturday,morning'
            tr
                td Afternoon 12pm-4pm
                td 
                    +facet_staff_select tags='shift,sunday,afternoon'
                td 
                    +facet_staff_select tags='shift,monday,afternoon'
                td 
                    +facet_staff_select tags='shift,tuesday,afternoon'
                td 
                    +facet_staff_select tags='shift,wednesday,afternoon'
                td 
                    +facet_staff_select tags='shift,thursday,afternoon'
                td 
                    +facet_staff_select tags='shift,friday,afternoon'
                td 
                    +facet_staff_select tags='shift,saturday,afternoon'
            tr
                td Evening 4pm-9pm
                td 
                    +facet_staff_select tags='shift,sunday,evening'
                td 
                    +facet_staff_select tags='shift,monday,evening'
                td 
                    +facet_staff_select tags='shift,tuesday,evening'
                td 
                    +facet_staff_select tags='shift,wednesday,evening'
                td 
                    +facet_staff_select tags='shift,thursday,evening'
                td 
                    +facet_staff_select tags='shift,friday,evening'
                td 
                    +facet_staff_select tags='shift,saturday,evening'



// template(name='edit_bike')
//     with current_doc
//         .ui.text.container.segment
//             .ui.center.aligned.header Edit Impounded Bike 
//             .ui.form
//                 +edit_image
//                 +edit_tags
//                 +edit_body
//                 a.ui.green.large.button(href='/bikes') Save Impounded Bike
//                 #delete_bike.ui.red.icon.button
//                     i.trash.icon
            
